@import "~alertifyjs/build/css/alertify.min.css";
@import "~alertifyjs/build/css/themes/bootstrap.rtl.min.css";

*{
    font-family: 'Bruno Ace SC', cursive;
}
.felipe{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    font-family: 'Bruno Ace SC', cursive;
    row-gap: 5%;
    column-gap: 5%;
    background-color:black;
    color: white;
    grid-template-areas: "title title img" 
                         "generos generos img" 
                         "resumen resumen img"
                         "directores directores img"
                         "dispo dispo img"
                         "cal bot img ";
                        
}
.dispo{
    grid-area: dispo;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cal{
    grid-area: cal;
}
.bot{
    grid-area: bot;
}
.alexander{
    
    grid-area: img;
    
}
.resumen{
    grid-area: resumen;
}.title{
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: center;
}.generos{
    grid-area: generos;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.directores{
    grid-area: directores;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
img{
    border-radius: 10px;
}