<head>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap" rel="stylesheet">
    <title>{{movie.original_title}}</title>
    <!-- <script src="./../../../../../node_modules/alertifyjs/build/alertify.min.js"></script>
    <link rel="stylesheet" href="./../../../../../node_modules/alertifyjs/build/css/alertify.min.css">
    <link rel="stylesheet" href="./../../../../../node_modules/alertifyjs/build/css/themes/default.min.css"> -->

    <!-- <script>
        function uno(){
            alertify.alert("Tamo' ready");
        }
    </script> -->

</head>

<div class="col-12">
    <div class="felipe">
        <div class="alexander"><img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2{{movie.poster_path}}" alt=""></div>
        <div class="resumen"><p>{{movie.overview}}</p></div>
        <div class="title"><h1>{{movie.original_title | uppercase}}</h1></div>
        <div class="generos"><h5 *ngFor="let i of movie.genres">{{i.name}}</h5></div>
        <div *ngIf="verificar() else noDisponible" class="dispo">
            <br>
            Esta disponible
            <br>
            <input type="date" [(ngModel)]="rsr" (change)="verFecha()" class="custom-select mr-sm-2 cal">
            <br>
            <button (click)="agregar()" [disabled]="habilitar" class="btn btn-dark bot">Agregar</button>
            <!-- <button onclick="uno()" [disabled]="habilitar" class="bot">Agregar</button> -->
        </div>
        <ng-template #noDisponible class="dispo">No disponible <br>
            <p>La pelicula estar disponible el {{devD + 1}}-{{devM}}-{{devA}}</p>
        </ng-template>
        <router-outlet></router-outlet>
    </div> 

</div>

