<!-- <div class="padre-pobre">
    <div style="border: 5px solid black">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder" />
            </mat-form-field>
        </p>
    </div>  
    <div class="nombre">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder" />
          </mat-form-field>
      </p>
  </div>

  <div>
    <form [formGroup]="options">
      <mat-checkbox [formControl]="hideRequiredControl">Hide required marker</mat-checkbox>
      <div>
        <label>Float label: </label>
        <mat-radio-group [formControl]="floatLabelControl">
          <mat-radio-button value="auto">Auto</mat-radio-button>
          <mat-radio-button value="always">Always</mat-radio-button>
        </mat-radio-group>
      </div>
    </form>
  </div>
</div>
 -->
