<head>
    <title>Reservas</title>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap" rel="stylesheet">
</head>

<br>

<table class="table" >
    <thead>
      <tr>
        <th scope="col">Pelicula</th>
        <th scope="col">Poster</th>
        <th scope="col">Fecha de Reservacion </th>
        <th scope="col">Fecha de Disponibilidad </th>
        <th scope="col">Puntuacion</th>
      </tr>
    </thead>
    <tbody *ngFor="let i of lista">
      <tr>
        <th scope="row">{{i.peli}}</th>
        <td><img height="150px" src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2{{i.poster}}" alt=""></td>
        <td>{{i.diaR}}/{{i.mesR}}/{{i.anioR}}</td>
        <td>{{i.diaD + 1}}/{{i.mesD}}/{{i.anioD}}</td>
        <td>{{i.pop}}</td>
      </tr>
    </tbody>
  </table>